
<button {{action "demoTapAction"}}>Trigger "demoTapAction" action on tap</button>

<br><br><br><br>

<button {{action "demoPressAction" on="press"}}>Trigger "demoPressAction" action on tap</button>

<br><br><br><br>

{{#link-to "links"}}Next demo{{/link-to}}