<h2>Events Demo</h2>

<br>
<div>
    {{tap-demo}}
    {{press-demo}}

    <div class="clear"></div>
</div>

<br>

<div>
    {{pan-demo}}

    <div class="clear"></div>
</div>

<br>

<div>
    {{swipe-demo}}

    <div class="clear"></div>
</div>

<br><br><br>
{{#link-to "actions"}}Next demo{{/link-to}}