<h2>Links Demo</h2>

{{#link-to "index" eventName="press"}}Link to Events Demo via press{{/link-to}}

<br><br><br>

{{#link-to "actions" eventName="swipeRight"}}Link to Actions Demo via right swipe{{/link-to}}